<div class="card">
  <img src="{{url}}" alt="Card image cap">
  <p class="card-text">{{name}}</p>
  <div class="text-right">
    <button type="button" class="btn btn-outline-secondary" name="{{name}}" price="{{price}}" >${{price}}</button>
  </div>
</div>
